/* 세부 css 설정 */

@charset "utf-8";
.middle {margin:0 auto;}
.content_middle {display: flex; align-items: center; justify-content: center;}

/* Sub nav */
.sub_nav {width: 100%; height: 80px; background-color: rgba(0, 0, 0, 0.1); font-size: 18px;  margin-top: 20px;}

/* Sub main */
.sub_main {width: 1200px; height: 1000px; background-color: gold; display: flex; justify-content: space-evenly; margin: 10px auto;}
.sub_main_img_container {width: 580px; height: 800px; background-color: aqua;}
.sub_main_img {width: 570px; height: 570px; margin: 10px 5px; background-color: #62ab00;}
.sub_main_text_container  {width: 580px; height: 1000px; background-color: aqua;}

.sub_bookList_slide {width: 560px; height: 210px; position: relative; display: flex; align-items: center; margin: 0 15px;}
#sub_buttonLeft{width: 20px; height: 20px; background-color: white; border: 1px solid #4444446c; border-radius: 50%; position: absolute; z-index: 2; top: 90px; left: -15px; cursor: pointer;}
#sub_buttonright{width: 20px; height: 20px; background-color: white; border: 1px solid #4444446c; border-radius: 50%; position: absolute; z-index: 2; top: 90px; right: -5px; cursor: pointer;}
.bookAPI5 {background:none; border: 0;}
.active2 {border: 1px solid black;}
.sub_main_img > div{display: none;}
.sub_main_img > div:first-child{display: block;}



/* bookList */
.sub_bookList {width: 1200px; height: 650px; display: flex; align-content: space-evenly; flex-wrap: wrap;}
.sub_bookList_title1 {width: 1000px; height: 120px; text-align: center;}
.sub_bookList_title1 p {margin: 20px 0px;}
.sub_bookList_container {width: 100%; height: 470px;}
.sub_bookList_box {width: 100%; height: 100%; display: flex;  justify-content: space-between;}
.sub_bookList_book_box{width: 270px; height: 420px; border: 1px solid gainsboro; padding: 0 15px;}
.sub_bookList_book_box img{width:160px; height:220px; border-radius: 5px; box-shadow: 2px 1px 10px gray; margin:10px 40px 20px;}
.sub_bookList_book_box p{margin-top: 10px;}
.sub_bookList_book_box h3{font-size:20px; color:black; float: left; margin-top: 10px; text-decoration: line-through;}
.sub_bookList_book_box h3:nth-of-type(2){font-size:20px; color:#62ab00; text-decoration: none; margin-left: 30px; }